<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.laboratory.mapper.StyleMapper">
    
    <resultMap type="Style" id="StyleResult">
        <result property="id"    column="id"    />
        <result property="backImage"    column="back_image"    />
        <result property="logoImage"    column="logo_image"    />
        <result property="effectiveDate"    column="effective_date"    />
        <result property="homePageText"    column="home_page_text"    />
    </resultMap>

    <sql id="selectStyleVo">
        select id, back_image, logo_image, effective_date, home_page_text from style
    </sql>

    <select id="selectStyleList" parameterType="Style" resultMap="StyleResult">
        <include refid="selectStyleVo"/>
        <where>  
            <if test="effectiveDate != null "> and effective_date &lt;= #{effectiveDate}</if>
            <if test="homePageText != null  and homePageText != ''"> and home_page_text = #{homePageText}</if>
        </where>
    </select>
    
    <select id="selectStyleById" parameterType="String" resultMap="StyleResult">
        <include refid="selectStyleVo"/>
        where id = #{id}
    </select>

    <insert id="insertStyle" parameterType="Style" useGeneratedKeys="true" keyProperty="id">
        insert into style
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="backImage != null">back_image,</if>
            <if test="logoImage != null and logoImage != ''">logo_image,</if>
            <if test="effectiveDate != null">effective_date,</if>
            <if test="homePageText != null">home_page_text,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="backImage != null">#{backImage},</if>
            <if test="logoImage != null and logoImage != ''">#{logoImage},</if>
            <if test="effectiveDate != null">#{effectiveDate},</if>
            <if test="homePageText != null">#{homePageText},</if>
         </trim>
    </insert>

    <update id="updateStyle" parameterType="Style">
        update style
        <trim prefix="SET" suffixOverrides=",">
            <if test="backImage != null">back_image = #{backImage},</if>
            <if test="logoImage != null and logoImage != ''">logo_image = #{logoImage},</if>
            <if test="effectiveDate != null">effective_date = #{effectiveDate},</if>
            <if test="homePageText != null">home_page_text = #{homePageText},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStyleById" parameterType="String">
        delete from style where id = #{id}
    </delete>

    <delete id="deleteStyleByIds" parameterType="String">
        delete from style where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>